NEXT_PUBLIC_SUPABASE_URL=your-supabase-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key
SUPABASE_SERVICE_KEY=your-supabase-service-key
NEXT_PUBLIC_URL=http://localhost:3000
STRIPE_API_KEY=your-stripe-api-key
STRIPE_PRICE_ID_BASIC=your-stripe-price-id
STRIPE_PRICE_ID_EXTRA=your-stripe-price-id
STRIPE_ENDPOINT_SECRET=your-stripe-endpoint-secret
